<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <h1 class="text-center">Edit Recipe</h1>
                <%= form_for @recipe, url: recipe_path do |f| %>
                    <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :prep_time %>
                        <%= f.text_field :prep_time, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :bake_time %>
                        <%= f.text_field :bake_time, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :instructions %>
                        <%= f.text_area :instructions, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :details %>
                        <%= f.text_area :details, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.submit :submit, class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>