<div class="home-callout text-center container-fluid">
    <h1>Welcome to The Pantry</h1>
    <h3>Complete Food Tracking Solution</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <% if user_signed_in? %>
      <div class='col-md-6'>
        <div class='well'>
          <h2 class='text-center'>Welcome</h2>
          <p>Join The Pantry today and start saving time and money, waste less, and be more organized in the kitchen</p>
        </div>
        <!--if mod-->
        <div class="well">
          <h2 class="text-center">Mod Panel</h2>
          <%= link_to "New Ingredient", new_ingredient_path, class: "btn btn-default btn-lg btn-block" %>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='well'>
          <h2 class='text-center'>Manage Food</h2>
          <%= link_to "My Pantry", user_food_items_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <%= link_to "Create Food Item", new_user_food_item_path(user_id: current_user.id ), class: 'btn btn-default btn-lg btn-block' %>
          <%= link_to "Ingredient List", ingredients_path, class: "btn btn-default btn-lg btn-block" %>
        </div>
      </div>
    <% else %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Basic Membership</h2>
          <h4>Sign up for free and get basic access to the community.</h4>
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Pro Membership</h2>
          <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>