<div class='container'>
    <div class='row'>
        <div class='col-md-2 col-md-offset-10'>
            <%= link_to "New Food Item", new_user_food_item_path(user_id: current_user.id), class: 'btn btn-primary food-index-new-btn' %>
        </div>
        <div class='col-md-12'>
            <% @food_items.each do |food_item| %>
                <div class="well row <%= cycle('white-bg', '') %>">
                    <div class='col-sm-4'>
                        <%= link_to user_food_item_path(id: food_item.id) do %>
                            <h3><%= food_item.name %></h3>
                        <% end %>
                    </div>
                    <div class='col-sm-4'>
                        <p>Stock: <%= food_item.stored_amount %> <%= food_item.units %></p>
                        <p>Best Before: <%= food_item.expiry %></p>
                    </div>
                    <div class='col-sm-4'>
                        <p>Purchased from: <%= food_item.supplier %> on <%= food_item.purchase_date %></p>
                        <p>Cost: $<%= food_item.price_per_unit %> per <%= food_item.units %></p>
                        <%= link_to "Delete", user_food_item_path(user_id: current_user.id, id: food_item.id), method: :delete, class: "btn btn-default" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>